body{
background-color: black;

}


.container{
background-color: rgba(92, 89, 89, 0.383);
color: white;
width: 800px;
height: 1000px;
margin: auto;
text-align: center;


}
nav ,ul ,li{
display: inline;
list-style: none;
margin-left: 3em;
}
 a{
 color: white;
}

h1{
margin-top: 75px;

}
 form{
width: 500px;
display: block;
margin-top: 2em;
justify-items: center;
text-align: center;
 }
 .name{
 border: 2px solid lightblue;
 padding-right: 10em;
 margin-left: 4em;

  }
 .email{
 margin-top: 20px;
 margin-left: 5em;
 padding-right: 10em;
 border: 2px solid green;
}
 .age{
 margin-top: 20px;
 margin-left: 2em;
 padding-right: 10em;
 border: 2px solid orange;

}
 
